.container[b-nt52lfo3o2] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Minutes Minutes Seconds Seconds"
        "Red Red Blue Blue"
        "Plus-Red Minus-Red Plus-Blue Minus-Blue"
        "Outcome-Red Outcome-Red Outcome-Blue Outcome-Blue"
        "Timer Timer Timer Timer"
        "Points-Red Points-Red Points-Blue Points-Blue";
}

.Minutes[b-nt52lfo3o2] {
    grid-area: Minutes;
}

.Seconds[b-nt52lfo3o2] {
    grid-area: Seconds;
}

.Red[b-nt52lfo3o2] {
    grid-area: Red;
    background-color: red;
    color: white;
}

.Blue[b-nt52lfo3o2] {
    grid-area: Blue;
    background-color: blue;
    color: white;
}

.Plus-Blue[b-nt52lfo3o2] {
    grid-area: Plus-Blue;
}

.Minus-Blue[b-nt52lfo3o2] {
    grid-area: Minus-Blue;
}

.Plus-Red[b-nt52lfo3o2] {
    grid-area: Plus-Red;
}

.Minus-Red[b-nt52lfo3o2] {
    grid-area: Minus-Red;
}

.Timer[b-nt52lfo3o2] {
    grid-area: Timer;
}

.Points-Red[b-nt52lfo3o2] {
    grid-area: Points-Red;
}

.Points-Blue[b-nt52lfo3o2] {
    grid-area: Points-Blue;
}

.Outcome-Red[b-nt52lfo3o2] {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Submission-Red Submission-Red Submission-Red"
        "DQ-Red DQ-Red DQ-Red"
        "Points-Red Points-Red Points-Red"
        "Decision-Red Decision-Red Decision-Red";
    grid-area: Outcome-Red;
}

.Submission-Red[b-nt52lfo3o2] {
    grid-area: Submission-Red;

}

.DQ-Red[b-nt52lfo3o2] {
    grid-area: DQ-Red;
}

.Points-Red[b-nt52lfo3o2] {
    grid-area: Points-Red;
}

.Decision-Red[b-nt52lfo3o2] {
    grid-area: Decision-Red;
}

.Outcome-Blue[b-nt52lfo3o2] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Submission-Blue Submission-Blue Submission-Blue"
        "DQ-Blue DQ-Blue DQ-Blue"
        "Points-Blue Points-Blue Points-Blue"
        "Decision-Blue Decision-Blue Decision-Blue";
    grid-area: Outcome-Blue;
}

.Submission-Blue[b-nt52lfo3o2] {
    grid-area: Submission-Blue;
}

.DQ-Blue[b-nt52lfo3o2] {
    grid-area: DQ-Blue;
}

.Points-Blue[b-nt52lfo3o2] {
    grid-area: Points-Blue;
}

.Decision-Blue[b-nt52lfo3o2] {
    grid-area: Decision-Blue;
}
