@page
@model TieRenTournament.Pages.Events.IndexModel
@using Newtonsoft.Json
@{
}

<h1>Tournament Completed!</h1>


<a>View Results</a>
<form method="post">
    <input name="" />
    <input type="submit" value="submit" asp-page-handler="Results" />
</form>
