@page
@model TieRenTournament.Pages.Shared.FAQModel
@{
}

<h1 class="text-center">FAQ Page</h1>
<br />
<h3>How are byes handled?</h3>
<p>
    If there are an uneven number of competitors in a bracket one is randomly selected as a bye. If both the winner's and loser's bracket have a bye they face each other instead.
</p>

<h3>How are player rankings determined?</h3>
<p>
    First place is the last person left standing. Subsequent places are in order of number of wins.
</p>

<h3>How does matchmaking work?</h3>
<p>
    Matches are purely random, there is no seeding. Winners face winners, losers face losers until only one competitor remains.
</p>