@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron outline">
    <div class="container">
        <br />
        <h1 class="display-3 text-center">铁人比赛</h1>
        <h2 class="text-center">Welcome to the Tie Ren (Iron Man) Tourament </h2>
        <br />
        <img class="img-fluid rounded-circle cardImg" src="~/IronMan.png" alt="Iron Water Color" id="big-pic">
        <br />
    </div>
</div>

<section id="scroll" class="outline">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle cardImg" src="https://images.unsplash.com/photo-1624938518616-3be0add427d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Black and White Jiu Jitsu Photo"></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Tourney Organization Made Easy</h2>
                    <p>Tie Ren Tournament is a web based application that allows grappling enthusiasts to run tournaments at a moment's notice from any device.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="outline">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle cardImg" src="https://images.unsplash.com/photo-1564415315949-7a0c4c73aab4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Inverted Armbar"></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Matchmaking, Scoring, Timing, and Results in One Place</h2>
                    <p>
                        Tie Ren handles everything in one smooth integrated experience. Enter a roster, choose single or double elimination, and click start. It handles the rest.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="scroll" class="outline">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="https://images.unsplash.com/photo-1611711605692-acb25d5d8399?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80" alt="Another Black and White Jiu Jitsu Photo"></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Knowledge is Power Privacy is King</h2>
                    <p>View results by competitor rankings or by match. Match results are searchable by various metrics. We don't collect any personal information beyond
                        a login. Simply sign up, sign in, and let the grappling commence.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<h1><a asp-area="" asp-page="/Competitors/Index">Setup your event today!</a></h1>